body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.toolbar {
    padding: 10px;
    background-color: rgb(240, 242, 244);
    border-bottom: 1px solid #ccc;
}

.toolbar button {
    margin-right: 10px;
    cursor: pointer;
}

.formula-bar {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#address {
    width: 70px;
    margin-right: 10px;
}

#formula {
    flex: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 30px auto;
    padding: 5px;
}

.top-row {
    grid-column: 2;
    display: flex;
}

.left-col {
    grid-row: 2;
}

.cells {
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
}

.cell {
    width: 100px;
    height: 25px;
    border: 1px solid #ccc;
    padding: 3px;
}

.row {
    display: flex;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    pointer-events: none;
}

.modal.open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    position: fixed;
    pointer-events: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: move;
}

.modal-content h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    user-select: none;
}

.close {
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(96, 30, 30);
    margin-top: -18px;
    margin-right: -10px;
}

.close:hover {
    color: red;
}

.instructions {
    background: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border-left: green 5px solid;
}

.instructions h3 {
    margin: 0 0 8px 0;
    font-size: 14px;
}

.instructions ol {
    margin: 0;
    padding-left: 20px;
    font-size: 13px;
}

.instructions li {
    margin-bottom: 3px;
}

.instructions strong {
    color: rgb(255, 102, 0);
}

.modal-content p {
    font-size: 14px;
    margin: 10px 0;
    color: gray;
}

#aiInstructions {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 0;
    border-radius: 4px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(28, 28, 75);
    color: white;
    cursor: pointer;
    font-weight: 800;
}

.btn-submit:hover {
    background-color: rgb(16, 33, 109);
}

.info {
    font-size: 13px;
    color: green;
    margin: 10px 0;
}